.reloj {
	align-items: center;
    background-color: #B5D0E2;
    border: 2px solid #2099E8;
    border-radius: 50%;
    display: flex;
    height: 14rem;
    justify-content: center;
    margin: 4rem auto;
    width: 14rem;
}

.reloj-texto{
	color: white;
    font-size: 2.25rem;
    font-weight: 300;
}

.centrado {
    display: flex;
    justify-content: center;
    margin: 4rem auto;
}